/* Global class */
html, body {
    width: auto!important; 
    overflow-x: hidden!important
}
.bg-s-green{
    background-color: #dbe5e0;
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.f-17{
    font-size: 17px;
}

.uppercase{
    text-transform: uppercase;
}
.font-size-md{
    font-size: 19px !important;
}
.td-cells{
	/* height: 34px !important; */
	padding: 0px !important;
	overflow-wrap: break-word;
}
.heading-text-md{
    font-size: 1.5em;
    font-weight: 500;
}

.heading-text-lg{
    font-size: 2em;
    font-weight: 500;
}


/* Global Class End */

                /* sales module */

/* sales order */

.sales-menu > li{
    margin-left:10px ;
    cursor: pointer;
}

.sales-option{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.new-order-box{
    border: 1px solid black;
}
.customer-info{
    margin-bottom: 20px;
}

/* sales order end */

/* sales pay receipt */

.pc-main{
    width: 100%;
    height: 100%;
}

.pc-line{
    color: black;
}

.pay-receipt-container{
    padding-top: 3em;
    padding-bottom: 9em;
}

.pay-label-rt{
    font-size: 17px;
    line-height: -25px;
}

/* sales pay receipt end */

                /* sales module end */